@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Solution starts here */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons button {
  padding: 8px;
}

.left-links,
.right-links {
  display: flex;
  gap: 20px;
}

.left-links {
  justify-content: flex-start;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #666;
  text-decoration:none;
}